* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #000;
  color: #fff;
}
.progress-bar {
  position: fixed;
  top: 0;
  width: 0;
  height: 10px;
  z-index: 2;
  background: #0093e9;
  animation: progress 1s linear infinite;
  border-radius: 5px;
}

.text {
  padding: 10rem;
}

@keyframes progress {
  0% {
    filter: hue-rotate(0deg);
  }

  100% {
    filter: hue-rotate(360deg);
  }
}
